$LimeGreen: hsl(163, 72%, 41%);
$BrightRed: hsl(356, 69%, 56%);
$Facebook: hsl(208, 92%, 53%);
$Twitter: hsl(203, 89%, 53%);
$YouTube: hsl(348, 97%, 39%);
$Toggle: hsl(230, 22%, 74%);

$VeryPaleblue: hsl(225, 100%, 98%);
$LightGrayisBlue: hsl(227, 47%, 96%);
$DarkGrayishBlue: hsl(228, 12%, 44%);
$VeryDarkBlue: hsl(230, 17%, 14%);
// GRADIENTS
$Instagram1: hsl(37, 97%, 70%);
$Instagram2:hsl(329, 70%, 58%);
$White: hsl(0, 0%, 100%);


// Dark theme
$Toggle-1:hsl(210, 78%, 56%) ;
$Toggle-2: hsl(146, 68%, 55%);

$VeryDark: hsl(230, 17%, 14%);
$VeryDarkBlue-d: hsl(232, 19%, 15%);
$DarkDesaturatedBlue: hsl(228, 28%, 20%);
$Desaturated: hsl(228, 34%, 66%);
$White: hsl(0, 0%, 100%);



